<div class="gameConfiguration">
  <h2> Select the number of player </h2>

  <md-button class="md-fab" aria-label="Eat cake">
    <md-icon md-svg-src="img/icons/cake.svg"></md-icon>
  </md-button>
  <br/>

  <div class="row rowPlayer">

    <button class="playerButton col-lg-2" ng-click="increment()">Plus</button>
    <label class="col-lg-4" id="players"> {{nbOfPlayer}}</label>

    <button class="playerButton col-lg-2"  ng-click="decrement()">Moins</button>
    <br/>
  </div>

  <a ng-click="sendNumberOfPlayer()" ng-href="#/scores"> Validate </a>

  </br>
  <a ng-click="updateHomePage('menu')"> Home Page </a>
  <br/>
  <br/>
</div>
