<link rel="stylesheet" href="styles/loading.css">
<div class="loadingpage">
  <!--<iframe class="loadingdiv" src="views/loading.html"></iframe>-->

  <div class="waiting">
    <label class="waitinglabel">{{messageForWaitingFrame}} </label>
  </div>

  <button class="homeButtonLoading col-lg-2"  ng-click="updateHomePage('menu','scripts/gameMap/homeEnvironment.html')"> >
    <!-- ng-click="updateHomePage('menu')" -->
    <img src="../images/homeButton.png" class="img-responsive">
  </button>
</div>
