
<div class="jumbotron">
  <div class="main" ng-model="firstelement">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
      <img src="images/yeoman.png" alt="I'm Yeoman"><br>
      Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/" >Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
  </div>

  <button class="" ng-click="closeElement()"> Validate </button>
</div>

<div class="row">
  <div class="col-lg-4">
    <p>
        HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
    </p>
    <a ng-href="#/jeu"> <h4> Game </h4></a>
  </div>

  <div class="col-lg-4">
    <p>
      AngularJS is a toolset for building the framework most suited to your application development.
    </p>
    <a ng-href="#/scores"><h4>Scores</h4></a>
  </div>

  <div class="col-lg-4">
  <p>Launch the game.</p>
    <a ng-href="#/configuration"><h4>Game launching</h4></a>
  </div>
</div>
