
<div class="row">

  <div class="startgame menu-element col-lg-5">
    <p></p>

    <a ng-href="#/gameConfiguration"><h4>Start game</h4></a>
  </div>
  <div  class="space col-lg-1"></div>
  <div class="game menu-element col-lg-5">
    <p>
    </p>
    <a href="../scripts/gameMap/index.html"> <h4> Game </h4></a>
  </div>

</div>

<div class="row">

  <div class="scores menu-element col-lg-5">
    <p>
    </p>
    <a ng-href="#/scores"><h4>Scores</h4></a>
  </div>
  <div  class="space col-lg-1"></div>
  <div class="swingguide menu-element col-lg-5">
    <p>
    </p>
    <a href="../scripts/gameMap/index.html"> <h4> Swing guide </h4></a>
  </div>

</div>

<div class="row">

  <div class="menu-element col-lg-5">
    <p>
    </p>
    <a ng-href="#/loading"><h4>Loading</h4></a>
  </div>
  <div  class="space col-lg-1"></div>
  <div class=" menu-element col-lg-5">
    <p>
    </p>
    <a href="#/homepage"> <h4> test </h4></a>
  </div>
</div>
