<div class="row rowmenu">

  <div class="startgame menu-element ">
    <a class="menu-link" id="gameConfiguration" ng-click="updateHomePage('gameConfiguration', '')"><h4>Start game</h4></a>
  </div>
<!-- ng-href="#/gameConfiguration" -->
</div>

<div class="row rowmenu">

  <div class="game menu-element ">
    <a class="menu-link" id="game" ng-click="verifyGameIsRunningForTrack()"> <h4> Game </h4></a>
  </div>

</div>

<div class="row rowmenu">

  <div class="swingguide menu-element ">
    <a class="menu-link" id="swingGuide" ng-click="verifyGameIsRunningForGuide()"> <h4> Swing guide </h4></a>
  </div>

</div>



<div class="row rowmenu">

  <div class="swingguide menu-element ">
    <a class="menu-link" id="testswing" ng-click="updateContentSwingGuide()"> <h4> Test swing </h4></a>
  </div>

</div>




<div class="row rowmenu">

  <div class="swingguide menu-element ">
    <a class="menu-link" id="testEndPage" ng-click="updateContentEndPage()"> <h4> Test End Page </h4></a>
  </div>

</div>
