
<div class="row rowmenu">

  <div class="startgame menu-element ">
    <a class="menu-link" ng-href="#/gameConfiguration"><h4>Start game</h4></a>
  </div>

</div>

<div class="row rowmenu">

  <div class="game menu-element ">
    <a class="menu-link" href="../scripts/gameMap/index.html"> <h4> Game </h4></a>
  </div>

</div>

<div class="row rowmenu">

  <div class="scores menu-element ">
    <a class="menu-link" ng-href="#/scores"><h4>Scores</h4></a>
  </div>

</div>

<div class="row rowmenu">

  <div class="swingguide menu-element ">
    <a class="menu-link" href="../scripts/gameMap/index.html"> <h4> Swing guide </h4></a>
  </div>

</div>
