<link rel="stylesheet" href="styles/scores.css">
<div class="thescore">
  <button class="homeButton col-lg-2" ng-click="updateHomePage('menu','HomepageCtrl')">
    <!-- ng-click="updateHomePage('menu')" -->
    <img src="../images/homeButton.png" class="img-responsive">
  </button>

  <h2> SCORES </h2>

  <!--<button ng-click="getbackScore()"> Get score ! </button>-->

  <br/>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Player</th>
      <th>Map 1</th>
      <th>Map 2</th>
      <th class="finalScore">Final Scores</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="player in players">
      <td>{{player._id}}</td>
      <td>{{player._score}}</td>
      <td></td>
      <td class="finalScore"></td>
    </tr>
    </tbody>
  </table>
</div>

