<link rel="stylesheet" href="styles/scores.css">
<div class="thescore">
  <button class="homeButton col-lg-2" ng-click="updateHomePage('menu')">
    <!-- ng-click="updateHomePage('menu')" -->
    <img src="../images/homeButton.png" class="img-responsive">
  </button>
  <i class="fa fa-arrow-right" id="buttonSideBar" ng-hide="iconmenu" ng-click="openMenu()" ></i>
  <i class="fa fa-arrow-right fa-rotate-90" ng-show="iconmenu" id="buttonSideBar2" ng-click="closeMenu()" ></i>
  <!--<label class="labelOpenClose" id="viewAllScore" ng-hide="iconmenu">View all scores</label>
  <label class="labelOpenClose" id="viewAllScore2" ng-show="iconmenu">View scores current player</label>
-->
  <h2> SCORES </h2>
  <br/>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Player</th>
      <th>Map 1</th>
      <th class="finalScore">Final Scores</th>
    </tr>
    </thead>
    <tbody>
    <!--  | filter:{_activePlayer:true} -->
    <tr ng-repeat="player in players | filter:{_activePlayer:true}  ">
      <td>{{player._playerName}}</td>
      <td>{{player._score}}</td>
      <td class="finalScore"></td>
    </tr>
    </tbody>
  </table>
</div>
