<div class="row">
  <div class="swingGuide col-lg-4">
    <h1 class="titleSwing">Meilleur swing</h1>

    <div class="contentAdvice ">
      <div class="advice col-lg-11">
        Garder les épaules bien alignées avec la direction du tir
      </div>
      <div class="advice col-lg-11">
        Avoir un mouvement continu lors du tir, sans à-coups
      </div>
    </div>
  </div>
  <div class="col-lg-4"></div>
  <div class="swingGuide2 col-lg-4">
    <h1 class="titleSwing2">Etapes Tir</h1>

    <div class="contentAdvice2 ">
      <div class="adviceTitle"><i class="fa fa-mobile"></i></div>
      <div class="advice col-lg-11">
        Tenez le téléphone vers le bas
      </div>
      <div class="advice col-lg-11">
        Appuyez avec l'indexe de la main droite sur l'écran au début du tir
      </div>
      <div class="advice col-lg-11">
        Restez appuyé tout au long du tir
      </div>
      <div class="advice col-lg-11">
        Relacher lorsque le tir a été effectué
      </div>
    </div>
  </div>
</div>
