<div class="row">
  <div class="swingGuide col-lg-4">
    <h1 class="titleSwing">Advices</h1>

    <div class="contentAdvice ">
      <div class="adviceTitle"><i class="fa fa-mobile"></i></div>
      <div class="advice col-lg-11">
        Put the phone face down
      </div>
      <div class="advice col-lg-11">
        Keep your chest straight
      </div>
      <div class="advice col-lg-11">
        Don't do
      </div>
      <div class="advice col-lg-11">
        Blabla
      </div>
    </div>
  </div>
  <div class="col-lg-4"></div>
  <div class="swingGuide2 col-lg-4">
    <h1 class="titleSwing2">Advices</h1>

    <div class="contentAdvice2 ">
      <div class="adviceTitle"><i class="fa fa-mobile"></i></div>
      <div class="advice col-lg-11">
        Put the phone face down
      </div>
      <div class="advice col-lg-11">
        Keep your chest straight
      </div>
      <div class="advice col-lg-11">
        Don't do
      </div>
      <div class="advice col-lg-11">
        Blabla
      </div>
    </div>
  </div>
</div>
