<link rel="stylesheet" href="styles/waitingFrame.css">
<div class="waitingPlayers">
  <br/>


  <table class="table table-hover">
    <thead>
    <tr>
      <th>Connected players:</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="player in players">
      <td>{{player._playerName}}</td>
    </tr>
    </tbody>
  </table>
  <br/>

  <div class="row">
    <button class="btn btn-lg btn-warning col-lg-offset-3 col-lg-6">
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate">

  </span> {{messageForWaitingFrame}}
    </button>
  </div>
  <br/>
  <br/>

  <div class="row rowHomeValidation">
    <button class="homeButton col-lg-2" ng-click="updateHomePage('menu','HomepageCtrl' )">
      <!-- ng-click="updateHomePage('menu')" -->
      <img src="../images/homeButton.png" class="img-responsive">
    </button>
  </div>

</div>
