<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="polytech.androidgolfclub" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:background="@color/colorBackground"
        >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DisplayResultsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_display_results"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="polytech.androidgolfclub.MainActivity" />
        </activity>
        <activity
            android:name=".ShootActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="polytech.androidgolfclub.MainActivity" />
        </activity>
        <activity
            android:name=".IpSettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="IP du serveur"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="polytech.androidgolfclub.MainActivity" />
        </activity>
        <activity android:name=".ShootAcceptedActivity"
            android:parentActivityName=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"

            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="polytech.androidgolfclub.MainActivity" />
        </activity>
        <activity android:name=".ShootErrorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"

            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="polytech.androidgolfclub.ShootActivity" />
        </activity>
    </application>

</manifest>
