
.loadingpage > *{
  position: absolute;
  width: 900px;
}


.waiting{
  position: absolute;
  width: 900px;
}

.waitinglabel {
  z-index:4;
  font-size: 40px;
  text-align:center;
  width:900px;
  position: absolute;
  font-family: "Rockwell";
}


.labelContainer{
  width:100%;
}


.homeButtonLoading{
  background: transparent;
  border: none;
  top:1%;
  width: 90px;
  z-index:5;
}

.bottom{

  left:15%;
  margin-top: 780px;
}
.left{
  -webkit-transform: rotate(90deg);
  margin-top: 47%;
  z-index:6;
  position:absolute;
  right:47%;
}

.top{
  margin-top: 5%;
  right:40%;
  -webkit-transform: rotate(180deg);
}

.right{

  -webkit-transform: rotate(-90deg);
  left:50%;
  top:50%;
  z-index:7;
  position:absolute;

}

.labelRight{
  margin-left:80px;
}

