// bower:scss
@import "font-awesome/scss/font-awesome.scss";
// endbower

html{
  overflow:hidden;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  overflow-y: hidden;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

.jumbotron.closed {
  max-height: 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.navbar-brand > h3 {
  font-color: white;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  .navbar-inverse {
    background-color: none;
    border-color: #080808;
    z-index: 3;
    position: absolute;
    text-align: center;
  }

  .navbar-inverse {
    background: none;
    border: none;
    margin-left: 1%;
  }

  .maincontainer, .globalcontainer {
    /*max-width: 900px;*/
    width: 1870px;
    height: 1000px;
    margin: 0px; /////TODO TO CHANGE
    padding: 0px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    background-color: none;
    margin-bottom: 0px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  /* Home page style */
  .menu-element {
    position: absolute;
    margin-top: 30px;
    font-color: white;
    background-color: rgba(0, 0, 0, 0.7);
    /*z-index: 4;*/
    height: 90px;
    width: 350px;
    text-align: center;
  }

  h4 {
    font-size: 30px;
    margin-top: 30px;
    font-color: white;
  }

  .menu {
    position: absolute;
    z-index: 4;
    margin-bottom: 75%;
    margin-right: 20%;
    height: 1000px;
    width: 2000px;
  }

  .loadingcontainer {
    position: absolute;
    width:100%;
    z-index: 2;

  }

  .globalcontainer {
    width: 1000px;
    height: 500px;
  }


  .loading {
    width: 100%;
    height: 1200px;
    margin-left: 0px;
    padding: 0px;
  }

  .rowmenu {
    margin-top: 100px;
  }

  h2,
  label {
    color: white;
  }

  label {
    font-size: 40px;
  }

  .playerButton, .homeButton {
    height: 60px;
    background-color: rgba(0, 0, 0, 0.1);

  }

  .glyphicon {
    color: white;
  }

  .gameConfiguration {
    text-align: center;
    margin-top: 15%;
    width: 500px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.7);

  }

  .rowPlayer {
    margin-left: 20%;
  }

  .glyphicon-home {
    height: 100px;
  }

  .homeButton {
    background: transparent;
    border: none;
    width: 70px;
    height: 70px;
    //margin-bottom:350px;
    //margin-right:80%;
  }


  /*

  .loadingcontainer > * {
    box-sizing: border-box;
    position: absolute;
    width: 900px;
  }*/



  .loadingpage > *{
    position: absolute;
    width: 900px;
  }

  .loadingdiv{
    width:100%;
    height:100%;
  }

  .waiting{
    position: absolute;
    width: 900px;
  }

  .waitinglabel {
    z-index:4;
    font-size: 40px;
    text-align:center;
    margin-left: 55%;
    width:900px;
    margin-top: 700px;
    position: absolute;
    font-family: "Rockwell";
  }

  .homeButtonloading{
    background-color: rgba(0, 0, 0, 0.1);
    border:none;
    height: 110px;
    width: 100px;
  }
  /*
  label {
    font-size: 40px;
    margin-left: 700px;
    width: 900px;
    margin-top: 700px;
    */



}
