.thescore{
  background-color: rgba(0, 0, 0, 0.7);
  border:none;
  width:30%;
  margin-left:2%;
}

.thescore > h2{
  padding-top:20px;
  text-align:center;
}

.table{
  background-color: rgba(0, 0, 0, 0.1);
  border:none;
  font-size: 30px;
  color:white;
}

#buttonSideBar{
  top: 3%;
  position:fixed;
  z-index:3002;
  color:#adadad;
  font-size:3em;
}
#buttonSideBar2{
  position:fixed;
  top:3%;
  z-index:3002;
  color:#adadad;
  font-size:3em;
}

#buttonSideBar:hover, #buttonSideBar2:hover,
#buttonSideBar3:hover, #buttonSideBar4:hover,{
  color:white;
  cursor:pointer;
  width:100%;
  height: 100%;
}


#buttonSideBar3{
  position:fixed;
  z-index:3002;
  left:27%;
  top:15.5%;
  color:#adadad;
  font-size:3em;
}

#buttonSideBar4{
  position:fixed;
  z-index:3002;
  left:27%;
  top:15.5%;
  color:#adadad;
  font-size:3em;
}



.labelOpenClose{
  font-size:5px;
  top:3%;
}

.homeButton{
  top:3%;
}





