.titleSwing{
  padding-left:32%;
}


.swingGuide{
  width:400px;
}

.swingGuide>h1, .swingGuide2>h1{
  color:white;
}

.advice, .adviceTitle{
  width:30%;
  height:100%;
}
.advice{
  width:100%;
  font-size:20px;
  background-color:rgba(250,250,250,0.7);
  border-radius:5px;
  text-align:center;
  margin-top:5px;
}

.adviceTitle{
  width:100%;
  color:white;
  font-size:70px;
}

.fa-mobile{
  padding-left:45%;
}


.titleSwing2{
  padding-left:32%;
}
.swingGuide2{
  margin-left:90px;
  width:400px;
}
