.swingGuide{
  width:300px;
}

.swingGuide>h1{
  color:white;
}

.contentAdvice{
}

.contentAdvice > .row{
  //width:400px;
  margin-left:5%;
}

.advice, .adviceTitle{
  width:30%;
  height:100%;
}
.advice{
  font-size:20px;
  background-color:rgba(250,250,250,0.7);
}

.adviceTitle{
  color:white;
  font-size:40px;
}

.fa-mobile{

}
